# Ignore dataset folders
# Ignore everything inside data
/src/data/*

# Ignore generated results and outputs
results/
outputs/
models/

# Ignore MATLAB temporary files
*.asv
*.m~
*.mat
*.fig

# Ignore system files
.DS_Store
Thumbs.db

