# Ignore dataset folders
# Ignore everything inside data
/src/data/*

# Ignore generated results and outputs


# Ignore MATLAB temporary files
*.asv
*.m~
*.fig

# Ignore system files
.DS_Store
Thumbs.db

